<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카테고리 관리</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav>
    <a th:href="@{/dashboard}">대시보드</a>
    <a th:href="@{/transactions}">거래내역</a>
    <a th:href="@{/categories}">카테고리 관리</a>
    <a th:href="@{/recurring}">정기 지출 관리</a>
    <a th:href="@{/bank-account}">계좌 관리</a>
</nav>
<form th:action="@{/categories}" th:object="${categoryForm}" method="post">
    <div>
        <input type="text" th:field="*{name}" placeholder="카테고리 이름">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    <button type="submit">카테고리 추가</button>
</form>

<hr>

<h1>등록된 카테고리</h1>

<table>
    <thead>
    <tr>
        <!--번호는 카테고리 개수만큼 표현하고 싶음 예) 아래부터 1 2 3 4 5 카테고리id와는 관계없는 그냥 개수로 숫자 표현 -->
        <th>이름</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.name}"></td>
        <td>
            <form th:action="@{/categories/{id}/delete(id=${category.id})}"
                  method="post"
                  onsubmit="return confirm('정말 삭제하시겠습니까?');">
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<br>
<a th:href="@{/dashboard}">대시보드</a>
</body>
</html>